export TN5250_HOST=lpar_name_or_IP
export TN5250_USER=user_profile
export TN5250_PASS=password
export TN5250_DEVNAME=optional_device_name
export TN5250_MAP=optional_keyboard_map_number
export TN5250_SSL=0_or_1_for_SSL

export HMC_HOST=
export HMC_PORT=2301
export HMC_USER=
export HMC_PASS=
export HMC_SYSNAME=
export HMC_LPAR=
export HMC_SHAREKEY=
