# --- Robot Framework Artifacts ---
# Don't copy old test reports into the new image
results/
log.html
report.html
output.xml
screenshots/
results

# --- Python Artifacts ---
*.pyc
__pycache__/
variables.py